# Created by .ignore support plugin (hsz.mobi)
.idea
.gradle
build/**
build
src/main/resources/application.properties
src/main/resources/application-oauth.properties
src/main/resources/templates/test.html