{{>layout/header}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">화성학 문제를 풀어보세요!</div>
                <div class="masthead-subheading">여러 화성학 문제를 풀어보세요</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="signup">회원가입</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="signin">로그인</a>
            </div>
        </header>
        <!-- Footer-->
{{>layout/footer}}