<!-- Header -->
{{>layout/header}}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2>화성학 문제를 풀어보세요!</h2>
            <p>And there are no hoverboards or flying cars.<br />
                Just apps. Lots of mother flipping apps.</p>
        </header>
        <ul>
            {{#userName}}
                <a href="/problems" class="button primary">문제 풀러 가기</a>
            {{/userName}}
            {{^userName}}
                <a href="/signup" class="button primary">회원 가입</a>
            {{/userName}}
        </ul>
    </div>
</section>
<!-- Footer -->
{{>layout/footer}}