{{>layout/header}}
<script src="abcjs_plugin_5.9.1-min.js" type="text/javascript"></script>
<style>
    #kcm {
      background-color: white;
      border: 1px solid red;
      text-align: center;
    }
    h2.leftside, p.leftside {
        text-align: left
    }
  </style>
<div id="main" class="wrapper style1">
    <div class="container">
        <div>
            <h2 class="leftside">문제 제목</h2>
            <p class="leftside">내용</p>
        </div>
        <!-- Content -->
        <section id="content">
            <div id="paper1" class="paper"></div>
            <div id="paper2" class="paper"></div>
            <div id="paper3" class="paper"></div>
        </section>
    </div>
</div>
{{>layout/footer}}