{{>layout/header}}

<div class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>화성학 문제</h2>
        </header>
        <section>
            <div class="table-wrapper">
                <h4>문제 목록</h4>
                <table class="alt">
                    <colgroup>
                        <col width="10%"/>
                        <col width="*%"/>
                        <col width="20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>카테고리</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
</div>

{{>layout/footer}}