{{>layout/header}}
<div id="main" class="wrapper style1" style="background-color: black">
    <div class="container">
        <header class="major">
            <h2>회원 가입</h2>
            <a href="#" class="button primary large">Google으로 계속하기</a>
            <br>
            <br>
            <p>Google로 계정을 만들면 이용약관에 동의한 것으로 처리됩니다.</p>
        </header>
        <!-- Content -->
        <section id="content">
        </section>
    </div>
</div>
{{>layout/footer}}
